@model BookingFunctionality.Models.FlightBookingViewModel

<h2>Book a Flight</h2>

@using (Html.BeginForm("ConfirmFlight", "Booking", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.SelectedFlightId, "Select Flight:")
        <select class="form-control" id="SelectedFlightId" name="SelectedFlightId">
            @foreach (var flight in Model.Flights)
            {
                <option value="@flight.Id">@flight.FlightName - @flight.Origin to @flight.Destination</option>
            }
        </select>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PassengerName, "Passenger Name:")
        @Html.TextBoxFor(model => model.PassengerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PassengerName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PassengerEmail, "Passenger Email:")
        @Html.TextBoxFor(model => model.PassengerEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PassengerEmail, "", new { @class = "text-danger" })
    </div>


    <button type="submit" class="btn btn-primary">Confirm Booking</button>
}
